{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}
{% block main %}
    <div id="profile-pic">
         <img id="picture" src="{{person['image']}}">
    </div>
    <div class="container">
  <h2> Profile</h2>
  
       <div> {{person['fname']}} {{person['lname']}} </div>
      
        <div> Profile Added On: {{person['created_on']}}</div>
      
        <div> Username: {{person['username']}}</div>
     
        <div> ID: {{person['pid']}}</div>
    
        <div> Sex: {{person['gender']}}</div>
   
        <div>Age: {{person['age']}}</div>
        
         <div>Biography : {{person['bio']}}</div>
</div>

{% endblock %}